*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-background{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    cursor: pointer;
    background: black;
    overflow: hidden;
}
.logo{
    height: 132px;
    width: 220px;
    display: flex;
    overflow: hidden;
}
.nav-list{
    display: flex;
    height: 90px;
    justify-content: center;
    align-items: center;
}

.nav-list li {
    list-style: none;
    padding: 26px 30px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
}

.nav-list li a:hover {
    color: grey;
}

.rightnav {
    width: 40%;
    display: flex;
    text-align: center;
}

#search{
    padding: 9px;
    font-size: 17px;
    border: 2px solid grey;
    margin-right: 10px;
    margin-left: 10px;
}
.searchbtn{
    padding: 9px;
    font-size: 17px;
    border: 2px solid grey;   
    margin-right: 10px;
}

.text-footer{
    text-align: center;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    color: white;
}
body{
    align-items: center;
    justify-content: center;
    background-image: url("https://www.nationsonline.org/gallery/India/Umiam-lake-Barapani-Meghalaya.jpg");

}
.wrapper{
    display: flex;
    margin: 72px;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.About{
    margin-left: 30px;
    margin-right: 30px;
    height: 550px;
    width: 1140px;

}
.Ab{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45px;
    padding: 20px;
}
.container{
    display: flex;
}
.leftAb{
    height:600px;
    width: 600px;
    margin: 10px;
    margin-right: 30px;

}
.rightAb{
    height: 390px;
    width: 500px;
}
.AbPoints{
    font-size: 20px;
}
.ImgM{
    height: 390px;
    width: 500px;
}
